.idea
.vscode
build/
Testing/
.cmake/
x64/
Release/

CMakeFiles
Makefile
CMakeCache.txt
*.cmake
DartConfiguration.tcl
levelz-test-*
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
install_manifest.txt

*.dir/
*.o
*.a
*.so
*.dylib
*.dll
*.vcxproj*
*.sln
*.exp
*.lib